/*
  Date: Dec. 16, 2022
  This file styles the game tutorial page. It makes all the text have the Arial
  font, centers all the images, places the navigation bar on the side of the page
  bolds/highlights certain words, makes the background of blocks of code a
  light blue color, and more.
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

main {
  position: absolute;
  width: 75%;
  left: 20%;
  font-size: 18px;
  padding-left: 20px;
}

nav {
  padding-left: 7%;
}

pre {
  background-color:rgba(240, 248, 255, 0.742);
  overflow-x: scroll;
}

a {
  color: rgb(113, 25, 41);
}

ol {
  padding-left: 5px;
}

nav ul {
  list-style-type: none;
  padding-left: 0px;
  font-size: 15px;
}

nav li {
  margin: 10px;
  padding-right: 20px;
  font-size: 18px;
}

.bold {
  font-weight: bold;
}

.code {
  background-color: rgb(232, 243, 252);
  font-family:'Courier New', Courier, monospace;
}

#navigation {
  flex-direction: column;
  height: 100%;
  max-width: 20%;
  position: fixed;
  background-color: rgba(244, 236, 236, 0.451);
  overflow-y: scroll;
}

#indented-list {
  padding-left: 10px;
}

#top {
  background-color: rgba(244, 236, 236, 0.451);
}

#version {
  font-style: italic;
}

#top, #intro, #section-one, #section-two, #section-three {
  padding: 10px;
}

#game-images img {
  height: 25vw;
  padding-left: 1%;
}

h1, h2, h3, #back-to-top {
  text-decoration: underline;
  background-color: rgba(244, 236, 236, 0.451);
  color: rgb(82, 15, 27);
}

.img-container, #game-images {
  display: flex;
  justify-content: center;
}

a:hover {
  background-color: rgba(129, 54, 69, 0.207);
}

.internal, .internal:visited {
  text-decoration: none;
  color: black;
}

.tutorial-section img {
  width: 55vw;
  height: 100%;
}

#intro img {
  width: 20vw;
  height: 100%;
}