/*
  Name: Alexandra Hao
  Date: Nov. 4, 2022
  Section: AB
  This css file gives the index.html page a light bluish-grey background color,
  centers its text, makes the heading blue and adds the appropiate colors to the
  buttons. For each profile displayed on the page, this css file structures it such that
  the picture appears on the left and the person's information appears on the right.
*/

body {
  font-family: "Arial", "Helvetica", sans-serif;
  text-align: center;
  background-color: #dbecf2;
  font-size: 18px;
}

aside {
  font-style: italic;
}

h1 {
  font-size: 35px;
  text-decoration: underline;
  color: #19647E;
}

ul {
  display: inline-block;
  text-align: left;
  margin: 0px;
}

.hidden {
  visibility: hidden;
}

#info-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
}

#score-info {
  display: flex;
  justify-content: space-evenly;
}

#candidate-info {
  padding: 10px;
  text-align: left;
}

#start-btn {
  font-size: 25px;
  background-color: #28AFB0;
  margin: 10px;
}

#accept-btn {
  background-color: #66cf90;
}

#reject-btn {
  background-color: #cd577e;
}

#reject-btn, #accept-btn {
  font-size: 20px;
}

#start-btn:hover {
  background-color: #287ab0;
}

#accept-btn:hover {
  background-color: #33ac63;
}

#reject-btn:hover {
  background-color: #a03156;
}

#info-card img {
  border: 10px solid #19647E;
  padding: 5px;
}